body {
    background: url(https://lh3.googleusercontent.com/-ZpjKr6KBZsA/VsIZJg8EgBI/AAAAAAAAAmY/H8S3OoY8HxI/s912-Ic42/USER4.png) no-repeat top fixed;
    background-size: cover;
    font-family: 'Montserrat',sans-serif;
    color: rgb(210, 210, 210);
    margin: 60px 15px 8px 15px;
}

div{
	display: block;
}

#list_header{
    	position: fixed;
	width: 155px;
    	left: 0;
    	right: 0;
    	margin: -50px auto;
    	background: rgba(0,0,0,0.75);
    	border-radius: 20px;
    	color: #fff;
    	font-size: .83em;
    	height: 40px;
    	padding: 12px;
    	z-index: 99;
    	max-width: 58.333%;
    	box-sizing: border-box;
}

#list_header a {
    	line-height: 0.7;
}

.display_name{
    	font-size: 1.8em!important;
}

a {
    	color: inherit;
    	text-decoration: none;
    	-webkit-transition: .15s;
    	transition: .15s;
	background-color: transparent;	
}

.img_crop{
	background-image: url(https://avatars3.githubusercontent.com/u/13853515?v=3&s=466);
    	background-repeat: no-repeat;
    	background-size: cover;
    	border-radius: 20px;
    	float: left;
    	height: 40px;
    	margin-left: -12px;
    	margin-right: 15px;
    	margin-top: -12px;
    	overflow: hidden;
    	width: 40px;
    	box-sizing: border-box;
}

#content {
    	background-color: rgba(31, 31, 31, 0.7);
}

#title {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

#title h1 {
    padding-left: 20px;
}
p {
    position: relative;
    left: 8px;
    bottom: 8px;
    right: 8px;
}